@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200; 1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e3e3e3;
}
h1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #000000;
    margin: 20px;
}
section{
    background-color: #fff;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    width: 90%;
    margin: auto;
    height: 450px;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: all .6s;
}
section img:hover{
    cursor: pointer;
    width: 300px;
    z-index: 2;
    opacity: 1;
    border-radius: 10px;
    transform: scale(1.05);
}